
src/Main-app.xml

src/Main.as

modules/module-paint/.settings/org.eclipse.core.resources.prefs

modules/module-paint/.project

modules/module-paint/.flexLibProperties

modules/module-paint/.actionScriptProperties

src/net/psykosoft/psykopaint2/app/tests/*

bin-debug/*
.project

.actionScriptProperties

*.prefs

modules/module-app/.flexLibProperties

modules/module-book/.flexLibProperties

modules/module-core/.flexLibProperties

*.p12
*.mobileprovision

modules/module-home/.flexLibProperties

certificates/

/modules/module-app/bin

/modules/module-book/bin

/modules/module-core/bin

/modules/module-home/bin

/modules/module-paint/bin
*.db
